.form
  = form_for(@work) do |f|
    - if @work.errors.any?
      .message.error#error_explanation
        = pluralize(@work.errors.count, "error") 
        prohibited this user from being saved:
        %ul
          - @work.errors.full_messages.each do |msg|
            %li= msg 

    %ul.fields        
      %li.field
        .label-= f.label :name
        .field-= f.text_field :name
      %li.field
        .label-= f.label :url
        .field-= f.text_field :url
      %li.actions
        .field-= f.submit
