.form
  = form_for(@work) do |f|
    - if @work.errors.any?
      .message.error#error_explanation
        = pluralize(@work.errors.count, "error") 
        prohibited this user from being saved:
        %ul
          - @work.errors.full_messages.each do |msg|
            %li= msg 

    %ul.fields        
      %li.field
        .label= f.label :name, 'Название'
        .input= f.text_field :name
      %li.field
        .label= f.label :url, 'Локальный URL'
        .input= f.text_field :url
      %li.field
        .label= f.label :site_url, 'URL сайта'
        .input= f.text_field :site_url
      %li.field
        .label= f.label :pages_count, 'Количество страниц'
        .input
          %select{:name => 'work[pages_count]', :id => 'work_pages_count'}
            - for i in 0..15
              %option{:value => i}= i

      %li.field
        .label Тип
        .input
          %ul.lsn
            - @works_types.each_with_index do |type, i|
              %li.ilb.mr5
                %input{:type => "checkbox",
                  :name => "work_types[]",
                  :id => "work_work_type_#{type.id}",
                  :value => type.id,
                  :checked => @work.work_types.where(name: type.name).present?}
                %label{:for => "work_work_type_#{type.id}"}
                  = type.name
      %li.field
        .label= f.label :date, 'Дата'
        .input= f.text_field :date, :class => 'js-date-picker'
      %li.field
        .label= f.label :image
        .input= f.file_field :image
      %li.actions
        .input
          = link_to request.referer, :class => "back-link" do
            %i.fa.fa-hand-o-left
            Назад
          = f.submit :class => "button", :value => "Сохранить"
