.form
  = form_for(@work) do |f|
    - if @work.errors.any?
      .message.error#error_explanation
        = pluralize(@work.errors.count, "error") 
        prohibited this user from being saved:
        %ul
          - @work.errors.full_messages.each do |msg|
            %li= msg 

    %ul.fields        
      %li.field
        .label= f.label :name
        .input= f.text_field :name
      %li.field
        .label= f.label :url
        .input= f.text_field :url
      %li.field
        .label= f.label :site_url
        .input= f.text_field :site_url
      %li.field
        .label= f.label :pages_count
        .input= f.text_field :pages_count
      %li.field
        .label= f.label :w_type
        .input= f.text_field :w_type
      %li.field
        .label= f.label :date
        .input= f.text_field :date
      %li.field
        .label= f.label :image
        .input-= f.file_field :image, :class => "button"
      %li.actions
        .input= f.submit :class => "button"
