%h1= @work.name
.work-show
  .ws-left
    .image.aci-wrap
      .aci-cell
        = image_tag @work.image? ? @work.image_url : '', :class => "aci-img"
  .ws-right
    %ul.info-list
      %li.il-item
        .name Номер работы:
        .value= @work.id
      %li.il-item
        .name Название:
        .value= @work.name
      %li.il-item
        .name Адрес сайта:
        .value
          %a{:href => @work.site_url}= @work.name
      %li.il-item
        .name Количество страниц:
        .value= @work.pages_count
      %li.il-item
        .name Локальный адрес работы:
        .value
          %a{:href => @work.url}= @work.name
