= form_for(@user) do |f|
  - if @user.errors.any?
    .message.error#error_explanation
      = pluralize(@user.errors.count, "error")
      prohibited this user from being saved:

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %ul.fields        
    %li.field
      .label-= f.label :name
      .field-= f.text_field :name
    %li.field
      .label-= f.label :email
      .field-= f.text_field :email
    %li.field
      .label-= f.label :password
      .field-= f.text_field :password 
    .label-= f.label :password_confirmation
      .field-= f.text_field :password_confirmation
    %li.actions
      .field-= f.submit
%div      
  = @current_user