%ul.left-nav
  %li
    %a{:href => root_path}
      %i.fa.fa-home
      Главная
  %li
    = link_to works_path do
      %i.fa.fa-th
      Работы
  - if user_signed_in?
    -#%li
      = link_to edit_user_registration_path do
        %i.fa.fa-pencil
        Аккаунт
    %li
      = link_to blog_path do
        %i.fa.fa-comment
        Блог
    %li
      = link_to new_post_url do
        %i.fa.fa-plus-circle
        Добавить пост

    -#%li
      = link_to new_user_registration_path do
        %i.fa.fa-users
        Регистрация

    %li
      = link_to new_work_path do
        %i.fa.fa-plus-circle
        Добавить работу

    %li
      = link_to new_work_type_path do
        %i.fa.fa-plus-circle
        Добавить тип работы
  %li
    - if user_signed_in?
      = link_to destroy_user_session_path, :method => 'delete' do
        %i.fa.fa-sign-out
        Выйти

    - else
      = link_to new_user_session_path do
        %i.fa.fa-sign-in
        Вход

