%ul.top-nav
  %li
    %a{:href => root_path} Главная
  %li
    - if user_signed_in?
      = link_to 'Выйти', destroy_user_session_path, :method=>'delete'
    - else
      = link_to 'Вход', new_user_session_path
  - if user_signed_in?
    %li
      = link_to 'Редактировать аккаунт', edit_user_registration_path
  - if user_signed_in?
    %li
      = link_to 'Регистрация', new_user_registration_path
  - if user_signed_in?
    %li
      = link_to 'Добавить работу', new_work_path
  %li
    = link_to 'Работы', works_path
