.form
  = form_for(@post) do |f|
    - if @post.errors.any?
      .message.error#error_explanation
        = pluralize(@post.errors.count, "error")
        prohibited this user from being saved:
        %ul
          - @post.errors.full_messages.each do |msg|
            %li= msg

    %ul.fields
      %li.field
        .label= f.label :post_title, 'Название'
        .input= f.text_field :post_title
      %li.field
        .label= f.label :post_body, 'Текст'
        .input.mt15= f.cktext_area :post_body, :class => 'someclass', :ckeditor => {:language => 'ru'}

      %li.actions
        .input
          = link_to request.referer, :class => "back-link" do
            %i.fa.fa-hand-o-left
            Назад
          = f.submit :class => "button", :value => "Сохранить"
