!!!DOCTYPE html
%html
  %head
    %title Portfolio
    = stylesheet_link_tag "application", :media => "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
  = csrf_meta_tags

  %body
    .page-body
      .clearfix.top-nav-wrapper.bg-dark
        .base-width
          = render 'shared/top_nav'
      .page.bg-main.clearfix
        - if content_for?(:page_header)
          %h1= yield(:page_header)
        .base-width
          = yield
    .footer-wrapper.bg-light
      .footer.base-width.clearfix
        .copyrights.fr
          z-fend.ru 2013г.    
